# Python Projeect using Numpy & Pandas

In [2]:
import pandas as pd
import numpy as np

# <font color="lightblue">PART 0 — Dataset Understanding</font> 

## <font color="#FFA500">1. Load the dataset using Pandas.</font>

In [9]:
df = pd.read_csv("Dataset/ecommerce_realistic_dataset.csv",encoding = "latin1")
print(df)

       order_id  customer_id  product_id     category   price  quantity  \
0             1         1175         649  Electronics    7.13         3
1             2         2220         523     Clothing   69.07         4
2             3         1537         569     Clothing  245.49         5
3             4         3550         606       Beauty   28.22         2
4             5         2603         226         Home  111.32         1
...         ...          ...         ...          ...     ...       ...
11995     11996         2108         309       Sports   76.22         2
11996     11997         1824         685        Books   18.28         1
11997     11998         2682         320       Beauty  188.70         3
11998     11999         1003         547  Electronics   59.84         3
11999     12000         4449         565       Sports   58.23         2

       order_date    country payment_method  rating  returned  revenue
0      2022-08-23        USA            UPI     5.0         0    21.39
1      2022-10-01        USA         PayPal     1.0         1   276.28
2      2022-10-29      India     Debit Card     2.0         0  1227.45
3      2021-01-10    Germany            UPI     4.0         0    56.44
4      2022-09-09  Australia            UPI     5.0         1   111.32
...           ...        ...            ...     ...       ...      ...
11995  2021-07-25      India            COD     4.0         0   152.44
11996  2023-12-28      India            UPI     5.0         0    18.28
11997  2023-09-11    Germany    Credit Card     4.0         0   566.10
11998  2024-02-05  Australia            UPI     4.0         0   179.52
11999  2022-11-30  Australia     Debit Card     4.0         0   116.46

[12000 rows x 12 columns]

## <font color="#FFA500">2. Display the first 10 and last 10 rows.</font>

In [13]:
print("Head Of Data : ")
print(df.head(10))
print("\nTail Of Data : ")
print(df.tail(10))

Head Of Data :
   order_id  customer_id  product_id     category   price  quantity  \
0         1         1175         649  Electronics    7.13         3
1         2         2220         523     Clothing   69.07         4
2         3         1537         569     Clothing  245.49         5
3         4         3550         606       Beauty   28.22         2
4         5         2603         226         Home  111.32         1
5         6         1211         387     Clothing  117.18         3
6         7         1919         362         Home  112.31         2
7         8         2639         665         Home   68.70         4
8         9         2372         657  Electronics   90.18         4
9        10         4257         767         Home   43.24         1

   order_date    country payment_method  rating  returned  revenue
0  2022-08-23        USA            UPI     5.0         0    21.39
1  2022-10-01        USA         PayPal     1.0         1   276.28
2  2022-10-29      India     Debit Card     2.0         0  1227.45
3  2021-01-10    Germany            UPI     4.0         0    56.44
4  2022-09-09  Australia            UPI     5.0         1   111.32
5  2022-04-03      India            COD     4.0         0   351.54
6  2023-07-05  Australia         PayPal     5.0         0   224.62
7  2023-04-15    Germany         PayPal     5.0         0   274.80
8  2023-05-13    Germany    Credit Card     5.0         0   360.72
9  2024-09-06        USA    Credit Card     4.0         0    43.24

Tail Of Data :
       order_id  customer_id  product_id     category   price  quantity  \
11990     11991         3931         694       Sports  118.78         1
11991     11992         4188         580         Home   17.68         1
11992     11993         3774         363        Books  127.60         3
11993     11994         1124         220         Home   47.43         2
11994     11995         4568         343        Books  184.93         4
11995     11996         2108         309       Sports   76.22         2
11996     11997         1824         685        Books   18.28         1
11997     11998         2682         320       Beauty  188.70         3
11998     11999         1003         547  Electronics   59.84         3
11999     12000         4449         565       Sports   58.23         2

       order_date    country payment_method  rating  returned  revenue
11990  2022-11-13        USA    Credit Card     5.0         0   118.78
11991  2024-09-26        USA            COD     3.0         0    17.68
11992  2024-08-24      India         PayPal     5.0         0   382.80
11993  2023-05-21     Canada         PayPal     1.0         0    94.86
11994  2023-06-23    Germany            COD     3.0         1   739.72
11995  2021-07-25      India            COD     4.0         0   152.44
11996  2023-12-28      India            UPI     5.0         0    18.28
11997  2023-09-11    Germany    Credit Card     4.0         0   566.10
11998  2024-02-05  Australia            UPI     4.0         0   179.52
11999  2022-11-30  Australia     Debit Card     4.0         0   116.46

##  <font color="green">3. Answer:</font>
   - <font color="#FFA500">Number of rows and columns</font>
   - <font color="#FFA500">Meaning of each column</font>

In [19]:
df.shape # Number OF ROWS & COLUMNS

# print(df.head(4)) # used for data columns ...

# order_id         ---- unique id of the orders (int)
# customer_id      ---- unique id of the customers (int)
# product_id       ---- unique id of the product (int)
# category         ---- order category 
# price            ---- amount of order/product (float)
# quantity         ---- number of products (int)
# order_date       ---- date of the order done (date yyyy-mm-dd)
# country          ---- origin 
# payment_method   ---- tranaction method
# rating           ---- like or dislikeing of the product (float)
# returned         ---- items returned (int)
# revenue          ---- total amount (float)

(12000, 12)

## <font color="#FFA500">4. Identify numerical, categorical, and date columns.</font>

""" 

Numerical Data - based Columns ((Used for calculations, averages, sums, etc.)) : price , rating , 
revenue , quantity

Categorical Columns ((Used for grouping, filtering, counting)): order_id , customer_id , 
product_id , category , countru , payment_method , returned 

Date Column : order_date → date when order was place


"""

# TEXT md colors 
<font color="#FFA500">Number of rows and columns</font>
<font color="green">This text is green!</font>